# KConfig
#
# Copyright (C) 2025 Mateusz Stadnik <matgla@live.com>
#
# This program is free software: you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation, either version
# 3 of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be
# useful, but WITHOUT ANY WARRANTY; without even the implied
# warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
# PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General
# Public License along with this program. If not, see
# <https://www.gnu.org/licenses/>.
#

config CPU_QEMU_MPS3
  bool "qemu_mps3"
  select CPU_HAS_MPU

if CPU_QEMU_MPS3
  config CONFIG_CPU
    def_string "qemu_mps3"

  # QEMU's mps3-an524 model has no FPU at all -- unlike the mps2-an505, whose
  # Cortex-M33 does. Probe: with the machine halted, write 0x00F00000 (CP10/CP11
  # full access) to CPACR at 0xE000ED88 over the gdbstub and read it back; on
  # an524 it reads 0 and the stub exposes no FP registers, on an505 it sticks.
  # Claiming an FPU here made the first context switch restore s16-s31 and take
  # a NOCP UsageFault -> HardFault (CFSR=0x00080000) before the shell came up.
  config CONFIG_CPU_HAS_FPU
    def_bool n

  config CONFIG_CPU_USE_FPU
    def_bool n

  config CONFIG_CPU_HAS_EXTERNAL_MEMORY_INTERFACE
    def_bool n

  choice CHOICE_CPU_CORE
    default CPU_CORE_ARM_CORTEX_M33
  endchoice

  choice CHOICE_CPU_FAMILY
    default CPU_FAMILY_ARM
  endchoice
endif
