[submodule "hal/libs/pico-sdk"]
	path = hal/libs/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "libs/libc"]
	path = libs/libc
	url = git@github.com:matgla/yasos_libc.git
[submodule "libs/tinycc"]
	path = libs/tinycc
	url = git@github.com:matgla/tinycc.git
[submodule "apps/cowsay/ccowsay"]
	path = apps/cowsay/ccowsay
	url = https://github.com/0xAether/ccowsay.git
[submodule "apps/ascii_animations"]
	path = apps/ascii_animations
	url = git@github.com:matgla/ascii_animations.git
[submodule "libs/yasos_curses"]
	path = libs/yasos_curses
	url = git@github.com:matgla/yasos_curses.git
[submodule "apps/textvaders"]
	path = apps/textvaders
	url = git@github.com:matgla/textvaders.git
[submodule "apps/yasvi"]
	path = apps/yasvi
	url = git@github.com:matgla/yasvi.git
[submodule "apps/mkfs/libs/fatfs"]
	path = apps/mkfs/libs/fatfs
	url = https://github.com/abbrev/fatfs.git
