#
# KConfig
#
# Copyright (C) 2025 Mateusz Stadnik <matgla@live.com>
#
# This program is free software: you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation, either version
# 3 of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be
# useful, but WITHOUT ANY WARRANTY; without even the implied
# warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
# PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General
# Public License along with this program. If not, see
# <https://www.gnu.org/licenses/>.
#

mainmenu "Yet Another Simple Operating System"

source "./libs/hal/KConfig"

menu "Process Options"

config CONFIG_PROCESS_USE_MPU_STACK_PROTECTION
  bool "Use MPU Stack Protection"
  help 
    Use hardware unit for stack protection of process
  depends on CPU_HAS_MPU

config CONFIG_PROCESS_USE_STACK_OVERFLOW_DETECTION
  bool "Use stack overflow detection"
  default y
  help 
    Software stack overflow detection. 
    This is detection, not prevention. If stack overflow occured memory may be corrupted!
    For prevention MPU must be used in hardware's that supports it.

config CONFIG_PROCESS_CONTEXT_SWITCH_PERIOD
  int "Context switch period in milliseconds"
  default 20 
  help 
    Context switch period in milliseconds, process may be interrupted earlier if blocked on IO 

config CONFIG_PROCESS_ROOT_STACK_SIZE 
  int "Root process stack size"
  default 4096
  help
    Size of kernel root process stack size

endmenu

menu "Filesystem Options"
  config CONFIG_FS_MAX_MOUNT_POINT_SIZE
  int "Maximum mount point name length in bytes"
  default 64 
  help 
    This is not maximum mounting in terms of depth, since mounting points are linked list

  rsource "source/fs/KConfig"
endmenu
