# CONFIG_CUSTOM_BOARD is not set
CONFIG_BOARD_HOST=y
CONFIG_CONFIG_BOARD="host"
CONFIG_CONFIG_BUILD_BUNDLE_COMPILER_RT=y
# CONFIG_BOARD_MSPC_V2_DISCARD_IN_CONF is not set
CONFIG_CONFIG_BUILD_LINKER_SCRIPT_PATH=""
# CONFIG_BOARD_PIMORONI_PICO_PLUS2_DISCARD_IN_CONF is not set
# CONFIG_BOARD_RASPBERRY_PICO_DISCARD_IN_CONF is not set
# CONFIG_BOARD_RASPBERRY_PICO_2_DISCARD_IN_CONF is not set

#
# CPU Configuration
#
# CONFIG_CPU_ARCH_ARM_ARMV6_M is not set
CONFIG_CONFIG_CPU_ARCH="host"
# CONFIG_CPU_ARCH_ARM_ARMV8_M is not set
CONFIG_CPU_ARCH_STUB_HOST=y
# CONFIG_CPU_CORE_ARM_CORTEX_M0_PLUS is not set
# CONFIG_CPU_CORE_ARM_CORTEX_M33 is not set
CONFIG_CPU_CORE_STUB_HOST=y
CONFIG_CPU_FAMILY_HOST=y
# CONFIG_CPU_FAMILY_RASPBERRY is not set
CONFIG_CPU_HOST=y
CONFIG_CONFIG_CPU="host"
# CONFIG_CPU_RP2040 is not set
# CONFIG_CPU_RP2350 is not set
# end of CPU Configuration

#
# Build options
#
# end of Build options

#
# Memory
#

#
# PSRAM
#
# end of PSRAM
# end of Memory

#
# Process Options
#
CONFIG_CONFIG_PROCESS_USE_STACK_OVERFLOW_DETECTION=y
CONFIG_CONFIG_PROCESS_CONTEXT_SWITCH_PERIOD=20
CONFIG_CONFIG_PROCESS_ROOT_STACK_SIZE=4096
CONFIG_CONFIG_PROCESS_HW_SPINLOCK_NUMBER=5
CONFIG_CONFIG_PROCESS_CONTEXT_SWITCH_HW_SPINLOCK_NUMBER=6
# end of Process Options

#
# Filesystem Options
#
CONFIG_CONFIG_FS_MAX_MOUNT_POINT_SIZE=64
CONFIG_CONFIG_FS_MAX_PATH_LENGTH=64

#
# RamFS Config
#
CONFIG_CONFIG_RAMFS_MAX_FILENAME=16
# end of RamFS Config
# end of Filesystem Options
