# CONFIG_CUSTOM_BOARD is not set
# CONFIG_BOARD_HOST is not set
CONFIG_CONFIG_BOARD="pimoroni_pico_plus2"
# CONFIG_CONFIG_BUILD_BUNDLE_COMPILER_RT is not set
CONFIG_CONFIG_BUILD_USE_NEWLIB=y
# CONFIG_BOARD_MSPC_V2_DISCARD_IN_CONF is not set
CONFIG_CONFIG_BUILD_LINKER_SCRIPT_PATH="${hal_root}/source/raspberry/rp2350/linker_script.ld"
CONFIG_FLASH_MEMORY_ADDRESS="0x10000000"
CONFIG_FLASH_MEMORY_SIZE="16MB"
CONFIG_CONFIG_PSRAM_CS_PIN=47
CONFIG_BOARD_PIMORONI_PICO_PLUS2_DISCARD_IN_CONF=y
CONFIG_CONFIG_FLASH_XIP_MAX_FREQUENCY_HZ=133000000
CONFIG_CONFIG_FLASH_XIP_MAX_SELECT_US=8
CONFIG_CONFIG_FLASH_XIP_DESELECT_NS=12
CONFIG_CONFIG_FLASH_XIP_CONTINUOUS_READ=y
CONFIG_CONFIG_PSRAM_MAX_FREQUENCY_HZ=133000000
CONFIG_CONFIG_PSRAM_CE_MAX_LOW_US=8
CONFIG_CONFIG_PSRAM_CE_MIN_DESELECT_NS=22
CONFIG_CONFIG_PSRAM_RXDELAY_LO=2
CONFIG_CONFIG_PSRAM_RXDELAY_HI=3
CONFIG_CONFIG_PSRAM_RXDELAY_HI_FREQ_THRESHOLD_HZ=90000000
# CONFIG_BOARD_RASPBERRY_PICO_DISCARD_IN_CONF is not set
# CONFIG_BOARD_RASPBERRY_PICO_2_DISCARD_IN_CONF is not set

#
# CPU Configuration
#
# CONFIG_CPU_ARCH_ARM_ARMV6_M is not set
CONFIG_CONFIG_CPU_ARCH="armv8-m"
CONFIG_CPU_ARCH_ARM_ARMV8_M=y
# CONFIG_CPU_ARCH_STUB_HOST is not set
# CONFIG_CPU_CORE_ARM_CORTEX_M0_PLUS is not set
CONFIG_CPU_CORE_ARM_CORTEX_M33=y
# CONFIG_CPU_CORE_STUB_HOST is not set
# CONFIG_CPU_FAMILY_HOST is not set
CONFIG_CPU_FAMILY_RASPBERRY=y
# CONFIG_CPU_HOST is not set
CONFIG_CONFIG_CPU="rp2350"
# CONFIG_CPU_RP2040 is not set
CONFIG_CPU_RP2350=y
CONFIG_CONFIG_CPU_CLOCK_FREQUENCY_MHZ=532
CONFIG_CONFIG_CPU_HAS_FPU=y
CONFIG_CONFIG_CPU_USE_FPU=y
CONFIG_CONFIG_CPU_HAS_EXTERNAL_MEMORY_INTERFACE=y
# end of CPU Configuration

#
# Build options
#
CONFIG_CONFIG_BUILD_USERSPACE_HARDWARE_FP=y
CONFIG_CONFIG_BUILD_USERSPACE_FP_MFPU="rp2350"
# end of Build options

#
# Memory
#
CONFIG_CPU_HAS_MPU=y

#
# XIP Flash
#
# end of XIP Flash

#
# PSRAM
#
# end of PSRAM

#
# SD Card
#
# CONFIG_CONFIG_MMC_BUS_MODE_SPI is not set
CONFIG_CONFIG_MMC_BUS_MODE_SDIO=y
# end of SD Card
# end of Memory

#
# Process Options
#
# CONFIG_CONFIG_PROCESS_USE_MPU_STACK_PROTECTION is not set
CONFIG_CONFIG_PROCESS_USE_STACK_OVERFLOW_DETECTION=y
CONFIG_CONFIG_PROCESS_CONTEXT_SWITCH_PERIOD=5
CONFIG_CONFIG_PROCESS_SMP=y
CONFIG_CONFIG_PROCESS_DEFAULT_STACK_SIZE=32768
CONFIG_CONFIG_PROCESS_MAX_STACK_SIZE=1048576
# CONFIG_CONFIG_SCHEDULER_OSTHREAD is not set
CONFIG_CONFIG_SCHEDULER_ROUND_ROBIN=y
# CONFIG_CONFIG_SCHEDULER_STUB is not set
CONFIG_CONFIG_PROCESS_MAX_PID_VALUE=2048
# end of Process Options

#
# Logging & Instrumentation
#
# CONFIG_CONFIG_INSTRUMENTATION_ENABLE_MEMORY_LEAK_DETECTION is not set
CONFIG_CONFIG_INSTRUMENTATION_LEAK_REPORT_DEAD_ONLY=y
# CONFIG_CONFIG_INSTRUMENTATION_VERBOSE_ALLOCATORS is not set
# CONFIG_CONFIG_INSTRUMENTATION_PRINT_MEMORY_USAGE is not set
CONFIG_CONFIG_INSTRUMENTATION_LOG_ERROR=y
# CONFIG_CONFIG_INSTRUMENTATION_LOG_WARNING is not set
# CONFIG_CONFIG_INSTRUMENTATION_LOG_INFO is not set
# CONFIG_CONFIG_INSTRUMENTATION_LOG_DEBUG is not set
# end of Logging & Instrumentation

#
# Filesystem Options
#
CONFIG_CONFIG_FS_MAX_MOUNT_POINT_SIZE=64
CONFIG_CONFIG_FS_MAX_PATH_LENGTH=64

#
# RamFS Config
#
CONFIG_CONFIG_RAMFS_MAX_FILENAME=16
# end of RamFS Config
# end of Filesystem Options
